html, body {
  margin: 0;
  padding: 0;
}

<ul>
  <li><a href="https://pigface734.github.io/index.html">Home</a></li>
  <li><a href="https://pigface734.github.io/kakaey.html">KAKAEY</a></li>
  <li><a href="#contact">Contact</a></li>
  <li><a href="#about">About</a></li>
</ul>

canvas {
  display: block;
}
